@using BlazorChatRoom.Data
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Threading; 
@using BlazorChatRoom.Hubs;
@inject NavigationManager _nav; 
  
@page "/Chat"

@code {

    private Guid username = Guid.NewGuid();
    private string newMessage;
    private HubConnection _hub;


    List<Message> ChatItems = new List<Message>()
        {
            new Message {MessageBody = "Hello there", TimeStamp = DateTime.Now},
            new Message {MessageBody = "Good Afternoon", TimeStamp = DateTime.Now}
        };

    private void addMessage(string message)
    {
        ChatItems.Add(new Message { MessageBody = message });
    }

    public async Task startChatting()
    {
        try
        {
            _hub = new HubConnectionBuilder()
            .WithUrl(_nav.BaseUri.TrimEnd('/') + ChatHub.HubPath)
            .Build();
            await _hub.StartAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

}

<h3>Chat</h3>

<div class="container-lg">
    <div class="row bg-dark">
        <div class="col-2 p-2">
            <div class="text-center">
                <img src="https://picsum.photos/id/237/75/75" class="rounded-circle border border-4 border-light" alt="Profile Picture" />
            </div>
        </div>
        <div class="col p-4">
            <span class="text text-lg text-light">@username.ToString()</span>
            <br />
            <span class="small text-light mt-3">@ChatItems.Count new messages...</span>
        </div>
    </div>

    <div class="container">
        <button class="btn btn-dark" type="button" id="startChatting" @onclick="() => startChatting()">Start Chatting...</button>
    </div>

    <div class="row">
        <div class="col h-25">
            <div class="container-fluid">
                @foreach (Message item in ChatItems)
            {
                <div class="row">
                    <div class="col m-4 p-4 bg-info rounded-pill">
                        <span class="text-light">@item.MessageBody</span>
                        <br />
                        <span class="text-light small">@item.TimeStamp.ToString("dd/MM/yyyy hh:mm:ss")</span>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter your message here..." @bind="newMessage" aria-label="Enter your message here..." aria-describedby="button" />
                <button class="btn btn-dark" type="button" id="txtMessage" @onclick="() => addMessage(newMessage)">Send</button>
            </div>
        </div>
    </div>
</div>



